html
{
	height:100%;
	width:100%;
	
}

a
{
	color:black;
}

a:link
{
	
	text-decoration:none;
}

fieldset
{
	border:none;
}

body
{
	margin:0 auto;
	height:100%;
	font-family:comic sans ms;
	/*
	background:purple;
	background:-webkit-linear-gradient(red, yellow);
	*/
}

table
{
	border-collapse:collapse;
}

table, th, td
{
	margin:0 auto;
	text-align:center;
	border:1px solid black;
	padding:10px 15px;
}

#kuesionerTable
{
	padding:5px;
}

td
{
	font-size:10px;
}

th
{
	background-color:rgb(134, 197, 233);
	color:white;
	
}

tr:nth-child(even)
{
	background-color:#EEE0E5;
}
.mainBox
{
	
	width:50%;
	text-align:center;
	margin:0 auto;
	border-style:solid;
	border-radius:15px;
	box-shadow:10px 10px grey;
	
}

.kuesionerBox
{
	
	width:50%;
	text-align:center;
	margin:0 auto;
	border-style:solid;
	border-radius:15px;
	box-shadow:10px 10px grey;
	padding:10px;
}

.inputText
{
	height:20px;
	width:250px;
	border-radius:5px;
}

.submitButton
{
	width:100px;
	background-color:#27c4e7;
	height:30px;
	font-family:comic sans ms;
	color:white;
	border-radius:5px;
	border:none;
}

#tambahPemasok
{
	width:200px;
	background-color:#27c4e7;
	height:30px;
	font-family:comic sans ms;
	color:white;
	border-radius:5px;
	border:none;
}

#menu
{
	width:100%;
	background-color:rgb(134, 197, 233);
	border-left:none;
	border-right:none;
	
	
}

#menu a
{
	color:white;
	font-family:comic sans ms;
}
#menu li
{
	display:inline-block;
	float:left;
	margin-left:100px;
	
	//padding:0 60px;
	
	border:none;
}

#menu:after
{
	content: ".";
    display: block;
    clear: both;
    visibility: hidden;
	width:200px;
    height: 0;
	
	
}

#menu li:hover
{
	
}

.ui-menu
{
	top: auto !important; 
	left:350px !important;
}

.ui-menu-item:hover
{
	//background-color:red !important;
}

.childMenu 
{
	//width:20% !important;
	//border:none !important;
}

.childMenu 
{
	//width:100% !important;
	background-color:rgb(134, 197, 233);
	margin-left:0 !important;
	color:white;
	font-family:comic sans ms;
}

/*
.menuBox
{
	width:100%;
	height:30px;
	
	text-align:center;
	
	background-color:rgb(134, 197, 233);
	margin-top:-10px;
	
}

.menuBox a
{
	color:white;
	font-family:comic sans ms;
	margin-right:50px;
	height:100%;
	padding-bottom:7px;
	
	padding-right:10px;
	padding-left:10px;
	
}

.menuBox a:hover
{
	background-color:#6fb6e0;
	
}
*/


.logo
{
	/*background-image:url("img/identity-guidelines-bhinneka-com.png");*/
	width:100%;
	height:10%;
	background-color:#092C52;
	padding-top:10px;
	
}

#indexInput
{
	margin-left:120px !important;
}

#question
{
	float:right;
	margin-right:30px;
	
}

.help
{
	float:right;
	margin-right:10px;
	margin-top:10px;
}

.berandaText
{
	margin-left:30px;
}


.help:hover
{
	-ms-transform: rotate(60deg); 
    -webkit-transform: rotate(60deg); 
    transform: rotate(60deg);
}

.helpText
{
	font-size:10pt;
}

#dialogEditSukses
{
	color:white;
}


#about-us
{
	font-family:comic-sans ms;
}

.smallBlueText
{
	font-size:12px;
	color:#27c4e7;
	display:inline;
	margin-right:30px;
}

.checkbox
{
	width:20px;
	
}

.wrongPass
{
	color:red;
}

.manageSupp
{
	background:none;
	border:none;
}

.tombolUbah
{
	display:inline;
}

#insertPemasok, #tambah, #kurang
{
	display:inline;
}

.right
{
	float:right;
}

.left
{
	
	margin-right:20px;
}

#lupaPass
{
	font-size:12px;
	color:#27c4e7;
	
}

#lupaPass:hover
{
	text-decoration:underline;
}

#capca
{
	text-align:center;
}

#copyright
{
	text-align:center;
	margin:0px auto;
}
